.sidebar{
    flex: 0.3;
    display:flex;
    flex-direction: column;
    border-right: 1px solid lightgray;
}
.responsive__sidebar{
    display:none;
}
.sidebar__header__container{
    border-bottom: 1px solid #d6d6d6;
}
.sidebar__header{
    margin: 20px 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar__search__container{
    background: #fafafa9e;
    padding: 4px 0;
}
.sidebar__search{
    margin: 10px 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    background:white;
    padding: 12px;
    border-radius: 28px;
}
.sidebar__search input{
    border:none;
    background: transparent;
    width: 100%;
    font-size: 17px;
}
.sidebar__search input:focus{
    outline:none;
}
.sidebar__searchButton{
    cursor:pointer;
}
.sidebar__chat{
    background: white;
    flex: 1;
    overflow-y:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.sidebar__chat::-webkit-scrollbar{
    display:none; 
}
.sidebar__chat h2{
    text-align:center;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px;
}

@media all and (max-width: 980px){
    .responsive__sidebar{
        display:block;
        flex: 0.1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 31px;
        border-right: 1px solid lightgray;
        overflow-y:scroll;
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    }
    .responsive__sidebar::-webkit-scrollbar{
        display:none;
    }
    .responsive__sidebar__profile{
        margin-bottom: 27px;
    }
    .sidebar{
        flex: 0;
        position: fixed;
        transform: translate(-30rem);
        width: 20rem; 
        height: 90vh;
        transition: .5s;
        margin-top: 73px;
        color: black;
        border-top: .5px solid white;
        border-top-right-radius: 5px;
        z-index: 1;
    }
}

@media all and (max-width: 980px){
    .responsive__sidebar{
        padding-right: 8px;
        padding-left: 8px;
    }
}