.signup {
    margin: 0 auto; 
    margin-top: 10vh;
}
.signup img{
    width: 80px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.signup form{
    text-align:center;
}
.signup input{
    padding: 8px 10px;
    width: 60%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #006d77;
    margin: 0 auto;
}
.signup input:focus{
    outline: none;
}
.error{
    color:red;
}
.signup .MuiButton-label{
    background: #006d77 !important;
    padding: 8px 20px !important;
    color:white !important;
    border-radius: 5px !important;

}
.signup__button{
    text-align:center !important;
    margin-left: 4px !important;
}