.app{
    display: grid;
    place-items: center;
    background: #dadbd3;
    height: 100vh;
}
.app__container{
    display:flex;
    width: 90vw;
    height: 90vh;
    background: #ededed;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.2);
}